.THIS {
}
.THIS .slds-modal__container{
    margin: 0 auto;
    width: 50%;
  
}
.THIS .rev-modal {
    margin: 0 auto; 
    min-height: 450px;   
    max-width: 90rem;
    min-width: 20rem;
    width: 90%;
}