.type-filter-combobox {
    position: relative;
}

.type-filter-combobox .slds-dropdown {
    width: 100%;
    max-height: 16rem;
    overflow-y: auto;
    z-index: 10;
}

.type-filter-combobox .slds-listbox__option {
    cursor: pointer;
}

.filters-apply-col {
    display: flex;
    flex-direction: column;
}

.filters-apply-label-spacer {
    display: block;
    height: 2rem;
}

.apply-button {
    height: 3.75rem;
    padding-left: 1rem;
    padding-right: 1rem;
    white-space: nowrap;
}