.column-description {
    width: 80%;
}

.column-price {
    width: 20%;
}

.color-red {
    color: red;
}

.item-tooltip {
    display: inline-block;
    position: relative;
}

.item-tooltip .slds-popover {
    width: 250px;
    max-width: 250px;
    white-space: normal;
}

.item-tooltip_block {
    position: absolute;
    bottom: 100%;
    left: 50%;
    transform: translateX(-30%);
    z-index: 1000;
    margin-bottom: 0.5rem;
    color: white;
}

.expedited-button {
    text-decoration: underline;
}

/* Text wrap for table cells */
.text-wrap {
    white-space: normal;
    word-wrap: break-word;
}