ul:not(.browser-default) li {
    list-style-type: disc;
}

.btn-container {
  padding: 0 10px;
}

@media (max-width: 768px) {
  h1.dxp-text-heading-xlarge {
    font-size: 24px;
  }

  .btn-container {
    gap: 0.5rem;
    display: flex;
    flex-wrap: wrap;
  }
}